services:
  - type: web
    name: partify-api
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: MONGO_URI
        sync: false
      - key: PORT
        value: 5000
      - key: CLIENT_ORIGIN
        sync: false
      - key: JWT_SECRET
        sync: false
